#app {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url("img.png");
  background-size: cover;
  color: white;
}

#submit-form {
  margin-top: 40px;
}

.lead-form {
  background-color: rgba(88, 88, 88, 0.25);
  border-radius: 30px;
  padding: 10px 50px 30px 50px;
  margin-top: 100px;
  transition: 1s;
}

.lead-form:hover{
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

span.city-span {
  color: (#444);
  text-transform: uppercase;
  margin-left: 5px;
  margin-top: 10px;
}

.form-control {
  margin-bottom: 3px;
}

.btn{
  background-color: rgba(43, 43, 43, .8);
  border-radius: 10px;
  transition: 1s;
}

.btn:hover {
  background-color: rgba(154, 118, 170, 0.8);
  color: white;
}